* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    background-image: url(https://t4.ftcdn.net/jpg/01/09/01/75/360_F_109017543_CYYwshbV6H7COx7eo11nfTzHJ5tuY3gb.jpg);
    
    
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #343434;
  }
  
  .nav-links a {
    color:black;
  }
  
  /* LOGO */
  .logo {
    font-size: 32px;
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    color: black;
  }
  
  .menu li:hover {
    background-color: gray;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  .services {
    position: relative; 
  }
  
  .dropdown {
    border: dotted 1px;
    background-color: white;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: gray;
  }
  #p2{
    color: white;
  }
  .services:hover .dropdown {
    display: block;
  }
  .a1{
    margin-top: 10px;
  }
  #Box-Text{
    margin-top: 2px;
    margin-bottom: -1px;
  }
  .Box{
    color: white;
    word-spacing: 300px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-top: 7px;
    height: 50px;
    background-color: #D31A38;
    
  }
 .Box a:hover{
    background-color: gray;
    border-radius: 5px;
    transition: 0.3s ease;
    width: 100px;
    padding: 10px;
 }
 .Box a.active{
    background-color: #343434;
 }
 #aboutus{
    height: 600px;
    width: 700px;
    float: right;
    opacity: 0.8;
    margin-top: -600px
 }
#heading{
    text-align: center;
    margin-left: 70px;
 }
 .text-box{
    color: white;

 }
 #p1{
    margin-top: 10px;
    background-color:#343434;
    width: 650px;
    font-size: 25px;
    height: 600px ;
 }
 #Buy{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 16px;
    cursor: pointer;
 }
 #Buy:hover{
    transition: 0.5s ease-in;
    background-color: #343434;
 }